* {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:  rgba(154, 155, 150, 0.699);
}

header {
    width: 100%;
    background: #3f6783;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 36px;
    height: 36px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

/* Cual es la diferencia con justify-content*/
/* Checar si al eliminar este selector no se afecta el responsive*/
.contenedor {
	max-width: 100%;
	margin: auto;	
	display: flex;
}

.navbar .contenedor {    
    list-style: none;
}

.navbar .contenedor a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    flex-grow: 1; /*Investigar para que sirve*/
}

.navbar .contenedor a:hover {
    background: rgba(0,0,0,0.3);
    font-weight: bold;
}

video {	
	width: 100%;
	height: 100%;
  }

/*Contenedor de titulo y controles*/
.contenedor-titulo-controles {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3 {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.contenedor-titulo-controles .indicadores button {
    background: #fff;
    height: 4px;
    width: 15px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
    background: red;
}

/* Contenedor de las flechas y el carrusel*/

.videos-recomendados{
    margin-bottom: 1%;
    background-image: linear-gradient(rgba(187, 178, 178, 0.80) 0%, rgba(187,178,178,0.80) 100%), url(./img/web\ calculo.jpg);
    background-position: center -213px;
}

.videos-recomendados .contenedor-principal {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.videos-recomendados .contenedor-principal .flecha-izquierda,
.videos-recomendados .contenedor-principal .flecha-derecha {
    position: relative;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 80px;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 5%;
    border-radius: 5%;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s ease-in all;
}

.videos-recomendados .contenedor-principal .flecha-izquierda {
    margin: 1%;
    left: 0;
}

.videos-recomendados .contenedor-principal .flecha-derecha {
    margin: 1%;
    right: 0;
}

.videos-recomendados .contenedor-principal .flecha-izquierda:hover,
.videos-recomendados .contenedor-principal .flecha-derecha:hover {
    background: rgba(0,0,0,0.9);
    transform: scale(1.1);
}

/*Contenedor carrusel*/

.videos-recomendados .contenedor-carrusel {
    margin: 0%;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.videos-recomendados .contenedor-carrusel .carrusel {
    display: flex;
    flex-wrap: nowrap;
}

.videos-recomendados .contenedor-carrusel .carrusel .peliculas{
    color: gainsboro;
    text-align: justify;
    padding: 1.5%;
    min-width: 22%;
    transition: 0.33s ease all;
    display: flex;
    flex-direction: column;
}

.videos-recomendados .contenedor-carrusel .carrusel .peliculas.hover{
    transform: scale(1.1);
    transform-origin: center;
}

.videos-recomendados .contenedor-carrusel .carrusel .peliculas img{
    width: 100%;
    vertical-align: top;
}

.videos-recomendados .contenedor-carrusel .carrusel .peliculas .descripcion{
    background: black;
    padding: 3%;
}

/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */


@media (max-width: 600px) {
    header label {
        display: block;
    }   
    .navbar {
        position: absolute;
        background:  #3f6783;
        width: 35%;
        margin-left: -35%;
        transition: 0.5s ease all;
        z-index: 1;
    }

    .navbar .contenedor {
        flex-direction: column;
    }

    .navbar .contenedor a {
        border-top: 3px solid  rgba(154, 155, 150, 0.699);
    }

    #btn-menu:checked ~ .navbar {
        margin: 0;
        z-index: 1;
    }

	main .contenedor {
		flex-direction: column;
	}

    .videos-recomendados .contenedor-carrusel {
        overflow: visible;
    }

    .videos-recomendados .contenedor-carrusel .carrusel{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3%;
        margin: 2% 12%;
    }

    .videos-recomendados .indicadores,
    .videos-recomendados .flecha-izquierda,
    .videos-recomendados .flecha-derecha{
        display: none;
    }

}
